name: Publish PyPI

on:
  release:
    types: [published]

jobs:

  deploy:
    name: Publish Release
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v1
      - name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install setuptools build twine
      - name: Build package
        run: make build python=python
      - name: Publish package
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
        run: make upload python=python
